@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Human Resources Management Portal</h1>
    <p>Learn more <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
    <p> @DateTime.Now  </p>
</div>
